@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.app-background {
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;

    .message {
        position: absolute;
        top: 30px;
        right: 0;
        display: none;
    }
}

.main-container {
    background-color: #fff;
    width: 500px;
    height: min-content;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
}



//input
.add-item-box {
    border: 1px solid #333;
    color: #ec645b;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;

    #add-item-input {
        box-sizing: border-box;
        border: none;
        background: transparent;
        color: #333;
        width: 100%;
        height: 30px;
        font-size: 16px;
    }

    input::placeholder {
        color: #ec645b;
    }

    input:focus {
        outline: 0;
    }
}

//list
.list-container {
    margin: 20px 0;

    .list-shopping {
        list-style: none;
    }

    .item-name {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        background: #f2f2f2;
        border-radius: 8px;
        padding: 10px 5px;
        margin-bottom: 10px;
        cursor: pointer;

        span:first-child {
            line-height: 31px;
            flex: 1
        }

        .complete {
            color: grey;
            text-decoration: line-through;
        }
    }
}

//total
.total {
    float: right;
    padding: 10px;
    font-size: 20px;
}

//button --> increase, decrease
.quantity {
    display: flex;
    align-items: center;
    border: 1px solid #ec645b;
    border-radius: 50px;
    font-size: 14px;
    background-color: #ec645b;
    color: #fff;
    min-width: 70px;
    justify-content: space-between;
}

button {
    background: transparent;
    border: none;
    margin: 3px;
    font-size: 20px;
    color: #fff;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}